.rodape__copyright {
   color: var(--azul-escuro);
   font-family: var(--roboto);
   font-size: 1.2rem;
   text-align: center;
}

@media screen and (min-width: 0px){
  .rodape__copyright{
    margin-bottom: 1.5rem;
  }
}

@media screen and (min-width: 1024px){
  .rodape__copyright{
    margin-bottom: 0;
  }
}