:root {
   --azul-claro: #F3F5FC;
   --azul-escuro: #0A3871;
   --branco: #FFFFFF;
   --cinza: #343A40;

   --bg-rodape: #D8DFE8;

   --inter: 'Inter', sans-serif;
   --roboto: 'Roboto Condensed', sans-serif;
}

body {
   background-color: var(--azul-claro);
   font-family: var(--inter);
}

.container {
   padding-left: 4%;
   padding-right: 4%;
}

.botao {
   width: 100%;
   max-width: 343px;

   height: 55px;

   border: 1px solid var(--azul-escuro);
   border-radius: 28px;
}

@media screen and (min-width: 768px){
   .botao {
      width: 332px;
   }
}