.descriptografia {
   align-items: center;
   display: flex;
   flex-direction: column;
}

@media screen and (min-width: 0px) {
   .descriptografia{
      margin-top: 6%;
   }
}

@media screen and (min-width: 1024px){
   .descriptografia{
      margin-top: 0;
   }
}