.descriptografia__botao {
   background: var(--branco);
   color: var(--azul-escuro);
   display: none;
}

.descriptografia__botao:active{
   background: var(--amarelo);
}

@media screen and (min-width: 0px){
   .descriptografia__botao{
      margin-top: 3%;
   }
}

@media screen and (min-width: 1024px){
   .descriptografia__botao{
      margin-top: 5%;
   }
}